.page-header {
    width: 100%;
    height: 550px;
    background-image: url('https://via.placeholder.com/1920x550?text=1920x550');
    background-repeat:no-repeat;
    background-position: center center;
}