//colors
//fonts
$font-main-color: #151515;
$font-product-title: #454545;
$font-light-grey: #858585;

//backgrounds
$body-background-color: #ffffff;
$slider-background-color: #263a49;

//line
$very-light-pink: #eeeeee;


